<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352442260144-v5ovptt64i12dbg01dq9asa3ievmp60h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352442260144-v5ovptt64i12dbg01dq9asa3ievmp60h</string>
	<key>API_KEY</key>
	<string>AIzaSyACtYJuPr-Bvx3bm_tM7dIgzGS2kc1XkkE</string>
	<key>GCM_SENDER_ID</key>
	<string>352442260144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dormitoryUserApp</string>
	<key>PROJECT_ID</key>
	<string>dorminic-co</string>
	<key>STORAGE_BUCKET</key>
	<string>dorminic-co.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352442260144:ios:fd63186d26e31f8c94f975</string>
</dict>
</plist>